body {
    background-image: url('coffee.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

div .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div .textcontainer {
    background-color: LightGray;
}
